
<div class="hero-unit">
	<h1>Welcome!</h1>
	<p>
	   You've just won a 
	   <%= link_to "one-month rails", "http://google.com"%>
	   million shits

	</p>
	<p>
		<%= link_to "Signup Now", "http://google.com", class: "btn btn-primary btn-large" %>
	</p>
</div>




